<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.upm.miw.tmdb.client">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/themoviedb_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="es.upm.miw.tmdb.client.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="es.upm.miw.tmdb.client.activities.MoviesActivity"/>
        <activity android:name="es.upm.miw.tmdb.client.activities.PersonsActivity"/>
        <activity android:name="es.upm.miw.tmdb.client.activities.InfoMovieActivity"/>
        <activity android:name="es.upm.miw.tmdb.client.activities.InfoPersonActivity"/>
    </application>

</manifest>